body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding-top: 50px;
}

#pokemon-info {
    margin-top: 20px;
}

#pokemon-image {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

#pokemon-type {
    margin-top: 10px;
    font-weight: bold;
}
#displayPokemonName {
    margin-top: 10px;
    font-weight: bold;
}
#pokemonNumber {
    margin-top: 10px;
    font-weight: bold;
}
.nav-spacing {
    margin-right: 20%;
}